/* Powered by MehmetSalihDeveci */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image:url(../images/header.png);
	background-repeat:repeat-x;
	background-color:#d3b268;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.text {
	border-radius:6px;
	-moz-border-radius:6px;
	margin-top:15px;
	background-image:url(../images/ara.png);
	background-position:right;
	background-repeat:no-repeat;
	background-color:white;
	color:black;
	padding-left:5px;
	font-family:arial;
	font-style:italic;
	color:gray;
	border: none;
	height:20px;
	margin-top:22px;
}

.clear {clear:both;}
.img {height:120px;padding-top:5px;display:block;margin-left:auto;margin-right:auto;}
.left {float:left;}
.right {float:right;}
.bosluk {height:184px;}
.map {display:block;margin:15px;float:left;}
.button {background:url(../images/button.png);border:none;width:68px;height:23px;margin:5px 10px 5px 10px;}
.form {color:white;margin-left:3px;float: right;margin:10px;vertical-align:middle;font-family:calibri,arial;font-weight:500;}
.inptext {margin:10px 10px 10px 10px;-webkit-box-shadow: inset 0px 0px 5px 5px rgba(3, 3, 3, 0.2);box-shadow: inset 0px 0px 5px 5px rgba(3, 3, 3, 0.2); border-radius:1px;-moz-border-radius:1px;border:none;width: 390px;;height: 27px;padding:3px;}
.inptextarea {margin:10px 10px 10px 10px;-webkit-box-shadow: inset 0px 0px 5px 5px rgba(3, 3, 3, 0.2);box-shadow: inset 0px 0px 5px 5px rgba(3, 3, 3, 0.2); border-radius:1px;-moz-border-radius:1px;border:none;width: 390px;padding:3px;}
.secili a {color:red;text-decoration:none;}
.secili a:hover {text-decoration:underline;}